body{
    display: grid;
    place-items: center;
}

.nome{
    height: 600px;
    width: 800px;
    background-color: #481247;
    display: grid;
    place-items: center;
}

.nome2{
    height: 180px;
    width: 700px;
    background-color:yellow ;
    border: 2px solid #000;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    place-items: center;
    margin-bottom: 10px;
}
.nome3{
    height: 180px;
    width: 700px;
    background-color: cadetblue;
    border: 2px solid #000;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    place-items: center;
    margin-bottom: 10px;
}
.nome4{
    height: 180px;
    width: 700px;
    background-color: wheat;
    border: 2px solid #000;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    place-items: center;
}
.nome5{
    height: 80px;
    width: 90px;
    background-color:blueviolet;
    border: 2px solid #000;
    display: grid;
}

body{
    
    min-height: 1000px;
}